# This workflow automatically updates the plugin on WordPress.org
name: Deploy to WordPress.org
on:
  # Only trigger when a release is published (and not a pre-release) in the GitHub repo.
  release:
    types: [published]

jobs:
  tag:
    name: Deploy new tag to WordPress.org
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
        tools: composer
        extensions: mysql, imagick
        coverage: none

    - name: Install dependencies
      run: |
        composer install --no-dev

    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@stable
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
