name: Triage
on:
  issues: # For auto-triage of issues.
    types: [opened]
  pull_request_target: # For triaging PRs into project boards.
    types: [opened,converted_to_draft,ready_for_review]

jobs:
  issue-triage:
    name: Apply some labels on newly opened issues
    runs-on: ubuntu-latest
    steps:
     - name: Checkout
       uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

     - name: Setup Node
       uses: actions/setup-node@v4
       with:
          node-version: lts/*

     - name: Wait for prior instances of the workflow to finish
       uses: softprops/turnstyle@v1
       env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

     - name: Build Action
       run: |
          npm install && npm run build
       working-directory: ./.github/actions/triage/

     - name: Run action
       uses: ./.github/actions/triage/
       with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        triage_projects_token: ${{ secrets.TRIAGE_PROJECTS_TOKEN }}
        triage_projects_board: https://github.com/users/jeherve/projects/2/